.flexbox {
  display: flex;
  height: 60px;
}
.div1 {
  width: 100px;
  background-color: lightpink;
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  font-size: 20px;
  color: white;
  background-color: black;
}
.div2 {
  width: 200px;
  background-color: lightblue;
}