body {
  height: 3000px;
}

.box {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 320px;
  height: 180px;
  background-color: gray;
}

.close-button {
  background-color: black;
  color: white;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 20px;
  font-size: 13px;
  font-family: Arial;
  position: absolute;
  left: -10px;
  top: -10px;
}
.time-stamp {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  font-family: Arial;
  right: 6px;
  bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 5px;

}