@media (max-width: 1000px) {
    .sidebar {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 55px;
      width: 70px;
      background-color: white;
      z-index: 200;
      padding-top: 5px;
    }

    .sidebar-link {
      height: 74px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .sidebar-link:hover {
      background-color: rgb(240, 239, 239);
    }
    .sidebar-link img {
      height: 25px;
      object-fit: cover;
    }
    .sidebar-link p {
      font-family: Roboto, Arial;
      font-size: 10px;

    }
}
@media (min-width: 1000.1px) {
      .sidebar {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 55px;
      width: 200px;
      background-color: white;
      z-index: 200;
      padding-top: 20px;
    }

    .sidebar-link {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 8px 48px;
    }

    .sidebar-link:hover {
      background-color: rgb(240, 239, 239);
    }
    .sidebar-link img {
      height: 40px;
      object-fit: cover;
    }
    .sidebar-link p {
      font-family: Roboto, Arial;
      font-size: 14px;

    }
}